<h1> Australian Vehicle Prices

In [17]:
import pandas as pd
import numpy as np

In [26]:
data = pd.read_csv (r"C:\Users\ADMIN\Downloads\archive\Australian Vehicle Prices.csv")
data

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16729,Toyota,2014.0,Alphard,SYC Cars,2014 Toyota Alphard,USED,Automatic,-,Front,Unleaded,-,66000,Grey / -,"Rocklea, QLD",-,Commercial,7 Seats,NaN,29500
16730,Mercedes-Benz,2012.0,S-Class,USED Dealer ad,2012 Mercedes-Benz S-Class CDI BlueTEC,USED,Automatic,-,Rear,Diesel,-,117432,Silver / -,"Port Melbourne, VIC",-,NaN,NaN,NaN,39888
16731,Suzuki,2022.0,Vitara,Bremer Suzuki - New,2022 Suzuki Vitara 1.6L,DEMO,Automatic,"4 cyl, 1.6 L",Front,Unleaded,6.2 L / 100 km,5165,Yellow / -,"Dinmore, QLD",4 cyl,SUV,4 Doors,5 Seats,35280
16732,Mercedes-Benz,2016.0,GLC250,SUV,2016 Mercedes-Benz GLC250,USED,Automatic,"4 cyl, 2 L",AWD,Premium,7.2 L / 100 km,85525,Grey / Black,"Albion, QLD",4 cyl,SUV,4 Doors,5 Seats,41888
16733,Mercedes-Benz,2021.0,C200,Sedan,2021 Mercedes-Benz C200,USED,Automatic,"4 cyl, 2 L",Rear,Unleaded,7 L / 100 km,31852,Gold / -,"Yatala, QLD",4 cyl,Sedan,4 Doors,5 Seats,65888

In [27]:
data.head(2)

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990

<h1> #1 Analyze the dataset and clean it. Preapare it for task

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16734 entries, 0 to 16733
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              16733 non-null  object
 1   Year               16733 non-null  float64
 2   Model              16733 non-null  object
 3   Car/Suv            16706 non-null  object
 4   Title              16733 non-null  object
 5   UsedOrNew          16733 non-null  object
 6   Transmission       16733 non-null  object
 7   Engine             16733 non-null  object
 8   DriveType          16733 non-null  object
 9   FuelType           16733 non-null  object
 10  FuelConsumption    16733 non-null  object
 11  Kilometres         16733 non-null  object
 12  ColourExtInt       16733 non-null  object
 13  Location           16284 non-null  object
 14  CylindersinEngine  16733 non-null  object
 15  BodyType           16452 non-null  object
 16  Doors              15130 non-null  object
 17  Seats              15029 non-null  object
 18  Price              16731 non-null  object
dtypes: float64(1), object(18)
memory usage: 2.4+ MB

In [30]:
data.dropna(inplace=True)
data.isnull().sum()

Brand                0
Year                 0
Model                0
Car/Suv              0
Title                0
UsedOrNew            0
Transmission         0
Engine               0
DriveType            0
FuelType             0
FuelConsumption      0
Kilometres           0
ColourExtInt         0
Location             0
CylindersinEngine    0
BodyType             0
Doors                0
Seats                0
Price                0
dtype: int64

In [31]:
prices = list(data['Price'])
non_numeric = []
for i,val in enumerate(prices):
    try:
        int(val)
    except:
        non_numeric.append(val)
        print(val, end=" ")

POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA POA

In [33]:
# Dropping POA from dataset
for non_num in non_numeric:
    data = data[data['Price'] != non_num]
    
# Converting price column from object to int type
data['Price_int'] = data['Price'].apply(lambda x: int(x))
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14551 entries, 0 to 16733
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              14551 non-null  object
 1   Year               14551 non-null  float64
 2   Model              14551 non-null  object
 3   Car/Suv            14551 non-null  object
 4   Title              14551 non-null  object
 5   UsedOrNew          14551 non-null  object
 6   Transmission       14551 non-null  object
 7   Engine             14551 non-null  object
 8   DriveType          14551 non-null  object
 9   FuelType           14551 non-null  object
 10  FuelConsumption    14551 non-null  object
 11  Kilometres         14551 non-null  object
 12  ColourExtInt       14551 non-null  object
 13  Location           14551 non-null  object
 14  CylindersinEngine  14551 non-null  object
 15  BodyType           14551 non-null  object
 16  Doors              14551 non-null  object
 17  Seats              14551 non-null  object
 18  Price              14551 non-null  object
 19  Price_int          14551 non-null  int64
dtypes: float64(1), int64(1), object(18)
memory usage: 2.3+ MB

<h1> #2 Make and Exploratory Data Analysis (EDA)

In [48]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [58]:
catvars = data.select_dtypes(include=['object']).columns
numvars = data.select_dtypes(include = ['int32', 'int64', 'float32', 'float64']).columns

In [59]:
catvars.to_list()

['Brand',
 'Model',
 'Car/Suv',
 'Title',
 'UsedOrNew',
 'Transmission',
 'Engine',
 'DriveType',
 'FuelType',
 'FuelConsumption',
 'Kilometres',
 'ColourExtInt',
 'Location',
 'CylindersinEngine',
 'BodyType',
 'Doors',
 'Seats',
 'Price']